# Interfaz y Dashboard
streamlit>=1.38.0

# Visión Artificial y Procesamiento
opencv-python>=4.10.0.84
mediapipe==0.10.18
deepface==0.0.99
tensorflow==2.16.2
tf-keras==2.16.0

# Análisis de Datos
pandas>=2.2.0
numpy>=2.1.0

# Utilidades para Python 3.13
setuptools
wheel

streamlit-webrtc
